

<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h2>Task list</h2>
        <ul class="list-group" class="tasklist">
            <li class="list-group-item" [ngClass]="{'disabled': task.done === true}" *ngFor="let task of tasks" (click)="select(task)">      
                <input class="checkbox-inline" [(ngModel)]="task.done" type="checkbox">  
                <div *ngIf="task.done === false && task === selectedTask then writable else non_writable"></div>
                
                <ng-template #writable>
                    <input class="form-control" style="margin: 10px" [(ngModel)]="task.name" type="text" placeholder="task name">
                </ng-template>
          
                <ng-template #non_writable>
                    <span class="form-control" style="margin: 10px" >{{task.name}}</span>
                </ng-template>
          
                <button class="btn btn-danger" style="margin: 10px" *ngIf="task === selectedTask" (click)="remove(task)">Del</button>
            </li>
          </ul>
          <hr>
          <div>
            <input class="form-control" [(ngModel)]="newTaskName" type="text" placeholder="Add a task">
            <button class="btn btn-success" style="margin: 10px" (click)="add()">Add</button>
          </div>


    </div>
  </div>
</div>
